body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px;
    
}
/* Header */
.header {
    display: flex;
    background: #1F2937;
    justify-content: space-between;
    justify-items: center;
    margin: 0px;
    padding: 16px 200px;
    color: white;
}
ul {
    text-decoration: none;
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center ;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    padding: 16px 0px;
}

/*Section 1*/
button {
    background-color: #3882F6;
    padding: 8px 32px;
    margin: 8px 0px;
    border: 0px;
    display: block;
    border-radius: 8px;
    color: #F9FAF8;
}

.section1 {
    display: flex;
    background: #1F2937;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 48px 200px 120px;
    flex: 1 1 auto;
}
.section1 .text,img {
    flex: 1 1 0;
}
.text {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    flex: 1 1 auto;
    
}
.maintext1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;

}
.subtext1 {
    font-size: 18px;
    color: #E5E7EB;
}
.placeholder{
    flex: 1 1 auto;
    min-height: 250px;
    min-width: 400px;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
}
.img_placeholder {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

/*Section 2*/
.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9FAF8;
    padding: 48px 200px;
    padding-bottom: 96px;
    flex-direction: column;
    gap: 48px;
}
.cards {
    display: flex;
    justify-content: space-between ;
    gap: 48px;
}
.info-text {
    font-size: 36px;
    font-style: extra-bold;
    color: #1F2937;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    max-width: 150px;
}
.card_text {
    text-align: center;
}

/*Section 3*/
.section3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 48px 350px;
    justify-content: center;
    color: #1F2937;
}
.quote {
    font-size: 36px;
    font-style: italic;
}
.section3 p {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-self: flex-end;
}

/*Section 4*/
.section4 {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 96px 200px;
    background: #EEE;
}
.call_T_A {
    background-color: #3882F6;
    min-width: 700px;
    padding: 48px 96px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    border-radius: 4px;
    
}
.section4 button {
    background-color: #3882F6;
    padding: 8px 32px;
    margin: 8px 0px;
    border: 0px;
    display: block;
    border-radius: 8px;
    border: 2px solid #E5E7EB;
    color: #F9FAF8;
}
.call_text1 {
    color: #F9FAF8;
    font-size: 24px;
}
.call_text2 {
    color: #E5E7EB;
}

/*Footer*/
.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 16px;
}



